.catGrid {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1em;
}

.loadMoreBtn {
	font-family: var(--font-playful);
	font-size: 3rem;
	line-height: 1;
}

@media (min-width: 420px) {
	.catGrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		grid-template-rows: repeat(auto-fill, 260px);
		grid-auto-flow: dense;
		grid-gap: 0.5rem;
	}
}
