:root {
	--border-radius: 32px;
	--border-radius-sm: 8px;
	--soft-shadow: rgba(0, 0, 0, 0.05);
	--medium-shadow: rgba(0, 0, 0, 0.15);
	--font-playful: "Londrina Shadow", cursive;
	--font-body: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

	--color-dark-red: #830a3a;
	--color-pink: #e34676;
	--color-purple: #842cbc;
	--color-dark-purple: #510a7d;
	--color-blue: #58a9ff;
	--color-mid-blue: #095db8;

	font-family: var(--font-body);
	line-height: 1.5;
	font-weight: 500;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	font-weight: 500;
	color: var(--color-purple);
	text-decoration: underline;
	text-underline-offset: 2px;
}

a:hover {
	color: var(--color-mid-blue);
}

p {
	margin: 0 0 1em;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	font-family: var(--font-playful);
	text-shadow: 3px 3px 14px purple;
	text-align: center;
	letter-spacing: 0.1rem;
}

dialog {
	z-index: 999;
	width: 90vw;
	height: 90dvh;
	background: rgba(255, 255, 255, 0.8);
	border-radius: var(--border-radius-sm);
	border: 1px solid rgba(255, 255, 255, 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3), var(--soft-shadow);
	overflow: hidden;
	padding: 0;
}

dialog::backdrop {
	backdrop-filter: blur(25px);
	background-color: rgba(135, 9, 147, 0.35);
}

dialog button {
	margin: 1rem 1rem 0 auto;
	display: block;
}

button {
	background: rgba(135, 9, 147, 0.2);
	border-radius: var(--border-radius);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(135, 9, 147, 0.3);
	padding: 0.6em 1.2em;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: inherit;
	color: var(--color-dark-purple);
	cursor: pointer;
	transition: border-color 0.25s;
	font-family: var(--font-body);
}
button:hover {
	border-color: var(--color-dark-purple);
}
button:focus,
button:focus-visible {
	outline: 4px auto var(--color-dark-purple);
}

button[disabled] {
	opacity: 0.5;
	cursor: default;
}

.fade {
	transition: opacity 0.5s;
	opacity: 1;
}

.fade-in,
.fade-out {
	opacity: 1;
}

@media (min-width: 767px) {
	dialog {
		border-radius: var(--border-radius);
	}
}
